html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: var(--bg-primary);
}

main {
    height: 100%;
    display: flex;
}


/* Блок страницы */
article {
    width: 100%;
    height: calc(100% - var(--header-height));
    padding: var(--gap-medium);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-medium);

    overflow-y: auto;
    scrollbar-gutter: stable;
}

/* CSS for other than iOS devices */ 
@supports not (-webkit-touch-callout: none) {
    article {
        overflow-y: overlay; /* Scroll поверх */
    }
}

/* Блок с контентом */
section {
    width: min(730px, 100%);
    padding: var(--gap-small);
    position: relative;

    background-color: var(--bg-secondary);
    border: 1px solid var(--border-primary);
    border-radius: var(--border-radius);
}