@import "./base/typography.css";
@import "./base/flex.css";

@import "./UI/button.css";
@import "./UI/input.css";
@import "./UI/input-radio.css";
@import "./UI/input-checkbox.css";
@import "./UI/select.css";

@import "./themes/default.css";

:root {
    /* Основные цвета */
    --bg-primary: rgb(20, 24, 27);
    --bg-secondary: rgb(28, 32, 36);
    --bg-transparent: rgba(14, 17, 19, 80%);

    /* Бордеры */
    --border-primary: rgb(63, 65, 67);
    --border-radius: 8px;

    /* Ширина scrollbar */
    --scrollbar-width: 6px;

    /* Уровни слоев */
    --z-under: -1;      /* Под основным контентом */
    --z-main: 0;        /* Основной контент */
    --z-over: 1;        /* Над основным контентом */
    --z-above: 2;       /* Над страницей, но под навигацией */
    --z-nav-bg: 3;      /* Подложка навигации (Черный фон) */
    --z-nav-content: 4; /* Верх навигации */
    --z-nav: 5;         /* Меню навигации */
    --z-modal: 10;      /* Модальное окно (над навигацией) */
    --z-loading: 100;   /* Загрузка (над модальным окном) */
}

/* Мобильная версия */
@media screen and (max-width: 900px) {
    /* Полоса прокрутки тоньше на телефоне */
    :root {
        --scrollbar-width: 4px
    }
}


* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    list-style-type: none;
    scroll-behavior: smooth;
    color-scheme: dark;
}


/* Полоса прокрутки */
*::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

/* Задний фон полосы прокрутки */
*::-webkit-scrollbar-track {
    border-radius: var(--border-radius);
    background-color: transparent;
}

/* Маркер прокрутки */
*::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius);
    background-color: var(--border-primary);
}