@import "./base/typography.css";
@import "./base/flex.css";
@import "./base/elements.css";

@import "./UI/button.css";
@import "./UI/input.css";
@import "./UI/input-radio.css";
@import "./UI/input-checkbox.css";
@import "./UI/select.css";

@import "./themes/default.css";

:root {
    /* Основные цвета */
    --bg-primary:     #030712; /* Header и Sidebar */
    --bg-secondary:   #1C2024; /* Внутри контента */
    --bg-transparent: #0E1113CC; /* Пока не используется (для анимации загрузки поверх контента) */

    /* Бордеры */
    --border-primary:   #1F2937; /* Header и Sidebar */
    --border-secondary: #3F4143; /* Внутри контента */
    --border-accent:    #EA580C;

    --border-radius: 8px;
    --border-radius-small: 4px;

    /* Ширина scrollbar */
    --scrollbar-width: 6px;
}

/* Мобильная версия */
@media screen and (max-width: 900px) {
    /* Полоса прокрутки тоньше на телефоне */
    :root {
        --scrollbar-width: 4px
    }
}


* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    list-style-type: none;
    scroll-behavior: smooth;
    color-scheme: dark;
}


/* Полоса прокрутки */
*::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

/* Задний фон полосы прокрутки */
*::-webkit-scrollbar-track {
    border-radius: var(--border-radius);
    background-color: transparent;
}

/* Маркер прокрутки */
*::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius);
    background-color: var(--border-secondary);
}