html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: var(--bg-primary);
}

/* layout расположен под header и имеет sidebar и main */
#layout {
    height: 100%;
    display: flex;
}

/* В main расположен контент страница (article и aside) */
main {
    width: 100%;
    height: calc(100% - var(--header-height));
    padding: 0 var(--gap-5);

    display: flex;
    justify-content: center;
    gap: var(--gap-5);
    position: relative;

    overflow-y: auto;
    scrollbar-gutter: stable;
}

/* CSS for other than iOS devices */ 
@supports not (-webkit-touch-callout: none) {
    main {
        overflow-y: overlay; /* Scroll поверх */
    }
}


/* Блок контейнером страницы */
article {
    width: min(730px, 100%);
    height: fit-content;
    padding: var(--gap-5) 0;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-5);
}

/* Блок с контентом */
section {
    width: 100%;
    padding: var(--gap-3);
    position: relative;

    background-color: var(--bg-secondary);
    border: 1px solid var(--border-primary);
    border-radius: var(--border-radius);
}