#not-found {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-5);
}

.not-found__top {
    align-items: center;
}

.not-found__top span {
    font-size: 80px;
}

.not-found__top img {
    border-radius: 50%;
}