#aside-wrapper {
    height: fit-content;
    position: sticky;
    top: var(--gap-5);
    /* right: calc((var(--gap-5) + 316px) * -1); */
}

aside {
    --bg-aside:     #030712;
    --border-aside: #26292B;

    width: 316px;
    display: flex;
    flex-direction: column;
    gap: var(--gap-3);
    padding: var(--gap-3) 0;

    border-radius: calc(var(--border-radius) * 2);
    background-color: var(--bg-aside);
}

aside section {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0 var(--gap-3);
}