:root {
    /* Цвета кнопок */
    --button-default:       rgb(49, 54, 62);
    --button-default-hover: rgb(79, 87, 100);
    --button-green:         rgb(42, 111, 84);
    --button-green-hover:   rgb(56, 149, 112);
    --button-red:           rgb(122, 20, 26);
    --button-red-hover:     rgb(160, 26, 34);
    --button-tp:            rgba(255, 255, 255, 0%);
    --button-tp-hover:      rgb(34, 40, 44);
    --button-active:        rgb(46, 51, 54);
    --button-disabled:      rgb(46, 44, 53);

    /* Размеры кнопки такие же как у инпута */
    --button-height: 36px;
    --button-img-size: 24px;
}

/* Основные стили для кнопки (по умолчанию серая) */
button, .button {
    width: min(200px, 100%);
    min-height: var(--button-height);
    padding: var(--gap-1);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-1);

    color: var(--text-light);
    font-size: var(--p);
    text-decoration: none;

    outline: none;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--button-default);

    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

:is(button, .button).green  { background-color: var(--button-green); }
:is(button, .button).red    { background-color: var(--button-red); }
:is(button, .button).tp     { background-color: var(--button-tp); }
:is(button, .button).active { background-color: var(--button-active); }

/* Отключенная кнопка */
:is(button, .button):disabled {
    cursor: not-allowed;
    color: var(--text-dark);
    background-color: var(--button-disabled);
}

/* Обводка при табуляции */
:is(button, .button):focus-visible { outline: 2px solid white; }

/* Наведение на пк */
@media (hover: hover) {
    :is(button, .button):is(:hover, :focus-visible)          { background-color: var(--button-default-hover); }
    :is(button, .button).green:is(:hover, :focus-visible)    { background-color: var(--button-green-hover); }
    :is(button, .button).red:is(:hover, :focus-visible)      { background-color: var(--button-red-hover); }
    :is(button, .button).tp:is(:hover, :focus-visible)       { background-color: var(--button-tp-hover); }
    :is(button, .button):disabled:is(:hover, :focus-visible) { background-color: var(--button-disabled); }
}

/* Клик на телефоне */
@media (hover: none) {
    :is(button, .button):active          { background-color: var(--button-default-hover); }
    :is(button, .button).green:active    { background-color: var(--button-green-hover); }
    :is(button, .button).red:active      { background-color: var(--button-red-hover); }
    :is(button, .button).tp:active       { background-color: var(--button-tp-hover); }
    :is(button, .button):disabled:active { background-color: var(--button-disabled); }
}