/* Кнопка навигации */
.nav-link {
    --nav-link-bg:           transparent;
    --nav-link-color:        #A6AABB;
    --nav-link-sing-color:   #16C973;
    --nav-link-hover-bg:     #1E2939;
    --nav-link-hover-color:  #05dF72;
    --nav-link-active-bg:    #F54900;
    --nav-link-active-color: #FFFFFF;

    width: 100%;
    height: 36px;
    padding: var(--gap-2);
    background-color: var(--nav-link-bg);
    display: flex;
    align-items: center;
    gap: var(--gap-2);

    border-radius: var(--border-radius-small);
    border-left: 2px solid transparent;

    text-decoration: none;

    & span, svg { color: var(--nav-link-color); }
}

.nav-link .nav-link__sign { color: var(--nav-link-sing-color); }

/* Наведение на пк */
@media (hover: hover) {
    .nav-link:is(:hover, :focus-visible) {
        background-color: var(--nav-link-hover-bg);
        border-left-color: var(--nav-link-hover-color);
        & span, svg { color: var(--nav-link-hover-color); }
    }
}

/* Клик на телефоне */
@media (hover: none) {
    .nav-link:active { 
        background-color: var(--nav-link-hover-bg);
        border-left-color: var(--nav-link-hover-color);
        & span, svg { color: var(--nav-link-hover-color); }
    }
}

/* Активная ссылка, эффект при наведении не изменяет уже активную ссылку */
nav .nav-link.active {
    background-color: var(--nav-link-active-bg);
    border-left-color: var(--nav-link-active-color);
    & span, svg { color: var(--nav-link-active-color); }
}


/* Мобильная версия */
@media screen and (max-width: 900px) {
    .nav-link svg {
        width: 14px;
        height: 14px;
    }
}