/* Навигация */
aside {
    min-width: calc(var(--gap-medium) + 230px + var(--gap-medium));
    height: calc(100% - var(--header-height)); /* Высота во всю страницу */
    padding: var(--gap-medium);
    border-right: 1px solid var(--border-primary);
    background-color: var(--bg-primary);
}

aside ul hr {
    margin: 12px 0;
}

/* Кнопка навигации */
.nav-link {
    --nav-tp:       transparent;
    --nav-tp-hover: rgba(29, 34, 37, 100%);

    width: 100%;
    height: 40px;
    padding: var(--gap-medium);

    display: flex;
    align-items: center;
    gap: 12px;

    background-color: var(--nav-tp);
    border-radius: 8px;
}

.nav-link.active {
    background-color: var(--nav-active) !important;
}
.nav-link.active p {
    color: var(--text-white);
}

/* Наведение на пк */
@media (hover: hover) {
    .nav-link:is(:hover, :focus-visible) {
        background-color: var(--nav-tp-hover);
    }

    .nav-link:is(:hover, :focus-visible) p {
        color: var(--text-white);
    }
}

/* Клик на телефоне */
@media (hover: none) {
    .nav-link:active {
        background-color: var(--nav-tp-hover);
    }

    .nav-link:active p {
        color: var(--text-white);
    }
}