/* Кнопка навигации */
.nav-link {
    --nav-link:        rgba(255, 255, 255, 0%);
    --nav-link-hover:  rgb(34, 40, 44);
    --nav-link-active: rgb(42, 50, 54);

    width: 100%;
    height: 40px;
    padding: var(--gap-5);

    display: flex;
    align-items: center;
    gap: 12px;

    text-decoration: none;
    background-color: var(--nav-link);
    border-radius: 8px;
}

/* Активная ссылка не перебивается эффектом при наведении */
nav .nav-link.active {
    background-color: var(--nav-link-active);
    & p {
        color: var(--text-white);
    }
}

/* Наведение на пк */
@media (hover: hover) {
    .nav-link:is(:hover, :focus-visible) {
        background-color: var(--nav-link-hover);
        & p {
            color: var(--text-white);
        }
    }
}

/* Клик на телефоне */
@media (hover: none) {
    .nav-link:active { 
        background-color: var(--nav-link-hover);
        & p { 
            color: var(--text-white);
        }
    }
}