/* Тема страницы по умолчанию */
main {
    background-image: url("/assets/settings/bg4.png");
    background-repeat: no-repeat;
    /* background-position: top left; */
    background-position: center;
}