:root {
    /* 33px + 77px */
    --header-height: 110px;
    /* todo: Определится с размером */
}

header {
    height: var(--header-height);
    border-bottom: 2px solid var(--border-accent);
    background-color: var(--bg-primary);

    font-family: monospace;
}

.header__content {
    padding: var(--gap-2) var(--gap-6);
}

/* Блок с логотипом и названием сайта */
.header__content-logo {
    width: fit-content;    
}

.header__content-title {
    font-size: 18px;
}