:root {
    --header-height: 60px;
}

header {
    height: var(--header-height);
    display: flex;
    align-items: center;
    padding: 0 var(--gap-5);

    border-bottom: 1px solid var(--border-primary);
    background-color: var(--bg-primary);
}

/* Блок с логотипом и названием */
.header-logo {
    display: flex;
    align-items: center;
}

.header-logo a {
    width: 52px;
    height: 52px;
}