/* sidebar шириной в 192px */
.sidebar {
    min-width: 192px;
    height: calc(100% - var(--header-height)); /* Высота во всю страницу */
    background-color: var(--bg-primary);
    border-right: 1px solid var(--border-primary);

    font-family: monospace;
}

.sidebar hr {
    border-color: var(--border-primary);
}

.sidebar__text-info {
    padding: var(--gap-3) var(--gap-2);
}

