:root {
    --sidebar-width: 255px;
}

.sidebar {
    min-width: var(--sidebar-width);
    height: calc(100% - var(--header-height)); /* Высота во всю страницу */
    background-color: var(--bg-primary);
    border-right: 1px solid var(--border-primary);
}

.sidebar hr {
    border-color: var(--border-primary);
}

.sidebar__text-info {
    padding: var(--gap-3) var(--gap-2);
}

