/* Картинка из Ace Attorney с персонажами */
.home__ace-attorney {
    width: min(700px, calc(100% - 30px));
    height: auto;
    margin-bottom: -30px;
}

.calendar-text {
    font-variant-numeric: tabular-nums;
}