:root {
    /* Размеры текста */
    --h1: 32px;
    --h2: 28px;
    --h3: 24px;
    --p: 16px;
    --p-small: 14px;
    --p-big: 40px;

    /* Цвет текста */
    --text-white: rgba(255, 255, 255, 1);
    --text-light: rgb(255, 255, 255, 0.9); /* 90% прозрачность */
    --text-gray: rgba(255, 255, 255, 0.5); /* 50% прозрачность */
    --text-dark: rgba(255, 255, 255, 0.3); /* 30% прозрачность */
    --text-black: rgba(0, 0, 0, 1);
    --text-red: #D60027;
    --text-link: #8B81E6;
    --text-input-label: #B6B6B6;
}

/* Мобильная версия */
@media screen and (max-width: 900px) {
    :root {
        --h1: 20px;
        --h2: 20px;
        --h3: 16px;
        --h4: 16px;
        --p: 14px;
    }
}

* {
    font-family: var(--font-montserrat);
    color: var(--text-light);
    font-size: var(--p);
    word-break: break-word;
}

/* Стили для текста */
h1, .h1 { font-size: var(--h1); line-height: 1.2; }
h2, .h2 { font-size: var(--h2); line-height: 1.25; }
h3, .h3 { font-size: var(--h3); line-height: 1.3; }
h4, .h4 { font-size: var(--h4); line-height: 1.35; }
p, .p { font-size: var(--p); white-space: pre-wrap; line-height: 1.5; }

small, .small {
    font-size: var(--p-small);
    font-weight: 300;
}

big, .big { font-size: var(--p-big); }

strong, .strong { font-weight: 600; }

/* Лейбл инпута */
label {
    font-size: var(--p);
}

/* Стили для цвета текста */
.text-white { color: var(--text-white); }
.text-light { color: var(--text-light); }
.text-gray  { color: var(--text-gray);  }
.text-dark  { color: var(--text-dark);  }
.text-black { color: var(--text-black); }
.text-red   { color: var(--text-red);   }


/* Текст обрезаемый контейнером */
.text-cut {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Превью текста (Для блоков у которых текст отобразиться позже) */
.text-preview {
    width: fit-content;
    color: transparent;
    background-color: var(--bg-primary);
}

/* Ссылка (Указывается для тега <a> (Link) если в нем только текст) */
a {
    text-decoration: none;
    cursor: pointer;
}

.text-link {
    font-size: var(--p);
    color: var(--text-link);
    cursor: pointer;
    
}

/* Наведение на пк */
@media (hover: hover) {
    .text-link:hover,
    .text-link:focus-visible {
        text-decoration: underline;
    }
}

/* Клик на телефоне */
@media (hover: none) {
    /* На мобильных девайсах ссылки подчеркнуты */
    .text-link {
        text-decoration: underline;
    }
}