:root {
    /* Размеры текста */
    --fs-xxlarge: 32px;
    --fs-xlarge:  28px;
    --fs-large:   24px;
    --fs-medium:  16px;
    --fs-small:   14px;
    --fs-tiny:    12px;

    /* Жирность текста */
    --fw-bold:      700;
    --fw-semibold:  600;
    --fw-medium:    500;
    --fw-regular:   400;

    /* Цвет текста */
    --text-white:  #FFFFFF;
    --text-light:  #f0f0f0; /* 90% прозрачность */
    --text-gray:   #767A8D; /* 50% прозрачность */
    --text-dark:   #626678;
    --text-black:  #000000;
    --text-green:  #22c55e;
    --text-orange: #EA580C;
    --text-red:    #D60027;
    --text-link:   #8B81E6;
    --text-input-label: #B6B6B6;
}

/* Мобильная версия */
@media screen and (max-width: 900px) {
    :root {
        --fs-xxlarge: 28px;
        --fs-xlarge:  24px;
        --fs-large:   20px;
        --fs-medium:  14px;
        --fs-small:   12px;
        --fs-tiny :   10px;
    }
}

* {
    font-family: var(--font-montserrat);
}

body {
    color: var(--text-light);
    overflow-wrap: break-word;
}

/* Размер текста */
h1, .h1 { font-size: var(--fs-xlarge); line-height: 1.2; }
h2, .h2 { font-size: var(--fs-xlarge); line-height: 1.25; }
h3, .h3 { font-size: var(--fs-large); line-height: 1.3; }
h4, .h4 { font-size: var(--fs-large); line-height: 1.35; }
p, .p, span, label { font-size: var(--fs-medium); line-height: 1.5; }
.fs-xxlarge  { font-size: var(--fs-xxlarge); }
.fs-xlarge   { font-size: var(--fs-xlarge); }
.fs-large    { font-size: var(--fs-large); }
.fs-medium   { font-size: var(--fs-medium); }
.fs-small    { font-size: var(--fs-small); }
.fs-tiny     { font-size: var(--fs-tiny); }

/* Толщина текста */
.fw-bold     { font-weight: var(--fw-bold); }
.fw-semibold { font-weight: var(--fw-semibold); }
.fw-medium   { font-weight: var(--fw-medium); }
.fw-regular  { font-weight: var(--fw-regular); }

/* Цвет текста */
.text-white  { color: var(--text-white); }
.text-light  { color: var(--text-light); }
.text-gray   { color: var(--text-gray);  }
.text-dark   { color: var(--text-dark);  }
.text-black  { color: var(--text-black); }
.text-green  { color: var(--text-green); }
.text-orange { color: var(--text-orange); }
.text-red    { color: var(--text-red);   }

/* Текст с переносами строк */
.text-pre { white-space: pre-wrap; }

/* Текст обрезаемый контейнером */
.text-cut {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Превью текста (Для блоков у которых текст отобразиться позже) */
.text-preview {
    width: fit-content;
    color: transparent;
    background-color: var(--bg-primary);
}

/* Текст без декораций */
.text-decoration-none { text-decoration: none; }

/* Подчеркнутый текст */
.text-underline { text-decoration: underline; }

/* Ссылка (Link в том числе) */
a {
    font-size: var(--fs-medium);
    color: var(--text-link);
}

.text-link {
    font-size: var(--fs-medium);
    color: var(--text-link);
    text-decoration: underline;
    cursor: pointer;
}

/* На пк ссылка подчеркивается при наведении */
/* @media (hover: hover) {
    .text-link:is(:hover, :focus-visible) { text-decoration: underline; }
} */

/* На мобильных девайсах ссылки подчеркнуты изначально */
/* @media (hover: none) {
    .text-link { text-decoration: underline; }
} */